.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card{
  display: flex;
  position: relative;
  width: 400px;
  background-color: rgb(140, 140, 140);
  align-items: flex-start;
  gap: 20px;
  border-radius: 20px;
}
.card img{
  width: 200px;
  border-radius: 20px;
}

.card p{
  font-size: 3rem;
  color: white;
  
}
button {
  border: none;
  background-color: transparent;
}